* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Amatic;
  src: url(font/Amatic.ttf);
}

body {
  background-color: #272f38;
}

.center {
  text-align: center;
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  width: 100%;
}

p {
  text-align: center;
  font-family: Amatic;
  font-size: 3.2em;
  color: white;
  background-color: #111820;
  margin: 2em;
  padding: 1.2em;

}

.one {
  width: 100%;
  height: 540px;
}

.two {
  width: 100%;
  height: 540px;
  display: none;
  /* the opacity is set to zero so only one image can be seen at a time */

}

.three {
  width: 100%;
  height: 600px;
  display: none;
  text-decoration: none;
}

#gwen {
  width: 80%;
  height: auto;
  display: none;
}

#cletus {
  width: 80%;
  height: auto;
  display: none;
}

#betty {
  width: 80%;
  height: auto;
  display: none;
}

#fred {
  width: 80%;
  height: auto;
  display: none;
}

#bubba {
  width: 80%;
  height: auto;
  display: none;
}

#effie {
  width: 80%;
  height: auto;
  display: none;
}

#you {
  width: 80%;
  height: auto;
  display: none;
}