* {
    box-sizing:border-box;
    margin:0;
}
@font-face {
    font-family:Amatic;
    src:url(font/Amatic.ttf);
  }
body {
    background-color:#272f38;
}
#story {
    align:center;
    font-family:Amatic;
    font-size:3.5em;
    color:white;
    background-color:#111820;
    margin:1em;
    padding:1.2em;
    padding-bottom:0.5em;
}
#two {
    display:none;
}
#three {
    display:none;
}
#arrow {
    color:white;
    text-align:center;
}
#arrow p {
    font-size:1.3em;
    padding:0.5em;
}
#speech {
    color:white;
    float:left;
    display:none;
}
.one{
  width: 454px;
  height: 454px;
  background-image: url(pumpkin0.png);
}
.two{
  width: 454px;
  height: 454px;
  opacity: 0%; /* the opacity is set to zero so only one image can be seen at a time */
  background-image: url(pumpkin1.png);
}
.gwen{
  width: 454px;
  height: 454px;
  opacity: 0%;
  background-image:  url(pumpkin2.png);
}
.cletus{
  width: 454px;
  height: 454px;
  opacity: 0%;
  background-image:  url(pumpkin3.png);
}
.betty{
  width: 454px;
  height: 454px;
  opacity: 0%;
  background-image:  url(pumpkin4.png);
}
.fred{
  width: 454px;
  height: 454px;
  opacity: 0%;
  background-image:  url(pumpkin5.png);
}
.bubba{
  width: realtive;
  height: relative;
  opacity: 0%;
  background-color: black;
}
.effie{
  width: realtive;
  height: relative;
  opacity: 0%;
  background-color: black;
}
.you{
  width: realtive;
  height: relative;
  opacity: 0%;
  background-color: black;
}
