* {
    box-sizing:border-box;
    margin:0;
}
img {
  display: block;
}
@font-face {
    font-family:Amatic;
    src:url(font/Amatic.ttf);
}


.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 1.5s;
}

.button:hover{
  transform: scale(1.2);
  box-shadow: 0 0 15px orange;
  
 }
.button1 {
  background-image: url(babycow.jpg); /*this is just an example image for my test */
}
.button2 {
  background-image: url(); 
}

body {
    margin: 20px;
}

.room {
    position: absolute;
    text-align: center;
    border-style: solid;
    height: auto;
    width: 25%;
}

#master_bedroom {
    top: 15%;
    left: 10%;
}

#dining_room {
    top: 15%;
    right: 10%;
}

#office {
   top: 50%;
   left: 20%;
}

#living_room {
    top: 50%;
    right: 20%;
}

#kitchen {
    top: 85%;
    left: 10%;
}

#bathroom {
    top: 85%;
    right: 10%;
}

#guest_room {
    top: 85%;
    right: 37.5%;
}

#current_room {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
    background-color: green;
    width: 800px;
    height: 500px;
}

.cur {
    text-align: left;
    float: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 800px;
    height: 500px;
}

h2, h4 {
    text-align: center;
}